@{
    Layout = "_Layout";
}

<div class="container">
    <a asp-action="GetRegisterStudent" 
       asp-controller="Auth" class="btn btn-primary">STUDENT</a>
    <a asp-action="GetRegisterTeacher" 
       asp-controller="Auth" class="btn btn-primary">TEACHER</a>
</div>