@{
    Layout = "_Layout";
}
<div class="jumbotron">
    <h1>
        SDMS - Students Database Management System
    </h1>
    <a asp-action="Register" asp-controller="Auth" class="btn btn-primary">
        Register!
    </a>
</div>